.Note {
  /* margin-left: 100px; */
  /* position: relative; */
  align-content: center;
  width: 100%;
  /* flex-grow: 1; */
  /* padding: 0px 30px; */
  /* border: 5px solid LightGrey; */
  margin-top: 5rem;
  padding: 3px;
  /* border-bottom: 2px;
  border-right: 2px; */
  display: flex;
}

.noNote {
  margin-top: 30vh;
  font-size: xx-large
}

.Note-title {
  text-align: center;
  border: 0;
  /* border-bottom: 2px; */
  /* border-right: 2px; */
  width: 100%;
  flex-grow: 1;
  padding: 5px;
  /* max-width: 100%; */
  /* margin-top: 3rem; */
  font-size: 3rem;
  outline: none;
  resize: none;
}

.Note-content {
  flex-grow: 1;
  overflow: visible;  /* margin-top: 0 20px; */
  width: 100%;
  /* border-radius: 10px; */
  max-width: 100vw;
  /* min-height: 100vh; */
  resize: vertical;
  /* min-height: 300px; */
  font-size: 18px;
  outline: none;
  border-style: double;
  border: 2px solid;
  /* border: 5px solid LightGrey; */
  padding: 5px;
  box-sizing: border-box;
}

.title {
  flex-direction: row;
}

#delete {
  border-bottom: 0 10px 0 0 solid grey;
  border-radius: 0 0 50px 50px;
}

